* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    font-size: 1.6rem;
  }
  
  @keyframes gradientShift {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  .background {
    background: linear-gradient(
      60deg, 
      #35204E, 
      #7A6A8D, 
      #35204E, 
      #7A6A8D  
    );
    background-size: 300% 300%; /* Large background size for smooth animation */
    animation: gradientShift 10s ease infinite; /* Faster animation for a more dynamic effect */
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  .box {
    background: rgba(0, 0, 0, 0.195);
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    padding: 2rem; 
    width: 100%;
    max-width: 500px;
    margin: 2rem auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .calculate-form {
    width: 100%;
  }
  
  input {
    width: calc(100% - 24px);
    margin: 0.5rem 0; 
    padding: 0.75rem; 
    border: none;
    border-radius: 8px;
    background-color: #35204E; 
    color: #333; 
    font-size: 1.6rem;
  }
  
  input::placeholder {
    color: #737373; 
  }
  
  .primary-btn {
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    border-radius: 8px; 
    background-color: #35204E; 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .primary-btn:hover {
    background-color: #2980b9;
    transform: scale(1.05);
  }
  
  .primary-btn:active {
    background-color: #1f5d87; 
  }
  
  .content {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 10px;
  }
  
  .content h2 {
    font-size: 4rem;
    font-weight: 500;
    color: #ffffff;
  }
  
  .content h1 {
    font-size: 6rem;
    font-weight: 600;
    color: #ffffff;
  }
  input {
    width: calc(100% - 24px); 
    margin: 0.5rem 0;
    padding: 0.75rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #fff; 
    color: #333; 
    font-size: 1.6rem; 
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
 
  input:focus {
    border-color: #35204E;
    box-shadow: 0 0 5px #7A6A8D;
    outline: none; 
  }
  
  
 
  
  .primary-btn {
    font-size: 2.4rem;
    width: 100%;
    max-width: 250px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #35204E;
    color: white;
    border: none;
    margin: 1rem 0;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .primary-btn:hover {
    background-color: #7A6A8D;
    transform: scale(1.05);
  }
  
  .primary-btn:active {
    background-color: #7A6A8D;
    transform: scale(1);
  }
  
  .result {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
  }
  
  @media (max-width: 786px) {
    .container {
      padding: 1rem;
    }
  
    .content h2 {
      font-size: 2.5rem;
    }
  
    .content h1 {
      font-size: 4rem;
    }
  
    input {
      width: 100%;
    }
  }
  